:root {
  font-family: 'Roboto', 'Inter', sans-serif;
  font-size: 1.15em;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  background: rgba(247, 247, 247, 0.5);
}

header {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  height: auto;
  background: url("download.jpg");
  /* background-color: rgba() */
  background-size: cover;
  color: rgba(200, 250, 250, 1);
}

.header-list {
  margin: 20px 0;
  padding: 10px;
  word-wrap: break-word;
}

.list-items {
  list-style-type: none;
  padding: 15px 10px;
  margin: 10px 0;
  background-color: rgba(153, 187, 199, 0.5);
  border-radius: 5px;
  font-weight: 400;
}

.header-title {
  margin: 20px 0;
  padding: 10px 20px;
  font-size: 1.45rem;
  /* text-align: left; */
}

.header-title h1 {
  text-align: center;
}

.header-title p {
  margin: 20px 0;
  text-align: center;
  font-weight: 400;
}

section {
  width: 100%;
  margin: 20px 0;
  padding: 20px 0;
}

.section-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.section-content {
  width: 20%;
  margin: 20px 30px;
  padding: 20px 20px;
  text-align: center;
  background: rgb(240, 240, 240);
  height: auto;
  border-radius: 5px;
}

.section-content h3 {
  font-style: oblique;
}

.section-footer {
  width: 60%;
  border: 2px solid black;
  margin: 5px auto;
  text-align: center;
  padding: 20px;
  font-style: oblique;
}

footer {
  width: 100%;
  background: rgba(47, 50, 51, 0.5);
  /* background: inherit; */
  margin-top: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-content {
  margin: 20px;
  padding: 10px;
  color: rgba(240, 240, 240, 0.6);
  text-align: center;
}

.footer-content h4 {
  color: rgba(240, 240, 240, 0.6);
  padding: 5px 50px;
  text-align: center;
}

.footer-links {
  margin: 5px auto;
}

.copyright {
  text-align: center;
  padding: 10px;
}
